header {
    background-color:violet
}

h2 {
    background-color:darkblue;
    
}

body {
    font-size: large;
    font-style: oblique;
    background-color: aquamarine;
    text-align: center;
    
   


}
h3 {
    background-color: rgb(36, 36, 46);
    color: rgb(83, 59, 105);
    font-size: larger;
}

